<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Матч</title>
</head>
<body>
<div id="wg-api-football-game"
     data-host={{ apiHost }}
     data-key={{ apiKey }}
     data-id={{ id }}
     data-theme=""
     data-refresh="15"
     data-show-errors="false"
     data-show-logos="true">
</div>
<script
  type="module"
  src="https://widgets.api-sports.io/2.0.3/widgets.js">
</script>
</body>
</html>
